<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="footer">
                &copy; 2018 Jose Fernando Lopez Fernandez
            </div>
        </div>
    </div>
</div>